<script type="text/javascript">
$(function(){
    App.start({ 
      posts: <%= @posts.to_json.html_safe -%>,
      totalPostCount: <%= @total_post_count %>
    });
});
</script>

<h1>Redbooth Homework</h1>

<div id="notificator"></div>
<div id="main"></div>
