// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*table {*/

  [class^=column-] {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-id, {
    max-width: 20%;
  }
  .column-title {
    max-width: 450px;
  }
  .column-content {
    max-width: 450px;
  }
  .column-actions {
  }

/*}*/
