// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[class^=column-] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-id, {
  max-width: 30px !important;
}
.column-title {
  max-width: 450px !important;
}
.column-content {
  max-width: 450px !important;
}
.column-actions {
  max-width: 30px !important;
}
